In [1]:
import pandas as pd
print("done")

done

In [3]:
# series
l1=[1,2,3,4,5]
series = pd.Series(l1)

In [5]:
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
series[4]

5

In [7]:
type(series)

pandas.core.series.Series

In [9]:
str = pd.Series( ('p','y','t','h','o','n') )

In [11]:
str

0    p
1    y
2    t
3    h
4    o
5    n
dtype: object

In [19]:
date_series = pd.date_range(start = "01-20-2025" , end= '01-24-2026')#month-date-yr
date_series

DatetimeIndex(['2025-01-20', '2025-01-21', '2025-01-22', '2025-01-23',
               '2025-01-24', '2025-01-25', '2025-01-26', '2025-01-27',
               '2025-01-28', '2025-01-29',
               ...
               '2026-01-15', '2026-01-16', '2026-01-17', '2026-01-18',
               '2026-01-19', '2026-01-20', '2026-01-21', '2026-01-22',
               '2026-01-23', '2026-01-24'],
              dtype='datetime64[ns]', length=370, freq='D')

In [21]:
type(date_series)

pandas.core.indexes.datetimes.DatetimeIndex

In [25]:
print('all the months: ', date_series.month , sep='\n',end='\n\n')

all the months:
Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       ...
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype='int32', length=370)

In [27]:
print('all the yr: ', date_series.year , sep='\n',end='\n\n')

all the yr:
Index([2025, 2025, 2025, 2025, 2025, 2025, 2025, 2025, 2025, 2025,
       ...
       2026, 2026, 2026, 2026, 2026, 2026, 2026, 2026, 2026, 2026],
      dtype='int32', length=370)

In [29]:
print('all the months: ', date_series.month_name() , sep='\n',end='\n\n')

all the months:
Index(['January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January',
       ...
       'January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January'],
      dtype='object', length=370)

In [31]:
Series= pd.Series(l1 , index = [100,101,102,103,104])

In [33]:
Series

100    1
101    2
102    3
103    4
104    5
dtype: int64